<robot name="dingshuji">
  <link name="link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.1" />
      <!-- (1/12)*mass*(y^2 + z^2)  (1/12)*mass*(x^2 + z^2) (1/12)*mass*(x^2 + y^2) -->
      <inertia  ixx="0.000193333" ixy="0.0"  ixz="0.0"  iyy="0.00006"  iyz="0.0"  izz="0.000193333" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.06 0.14 0.06" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.06 0.14 0.06" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="link">
    <material>Gazebo/Turquoise</material>
    <mu1>1000</mu1>
    <mu2>1000</mu2>
    <maxVel>0.0</maxVel>
    <minDepth>0.0001</minDepth>
    <turnGravityOff>0</turnGravityOff>
  </gazebo>
</robot>
